services:
  ml-service:
    build:
      context: ..
      dockerfile: ml-service/Dockerfile
    container_name: morphin-ml-service
    ports:
      - "8000:8000"

  backend:
    build:
      context: ../backend
    container_name: morphin-backend
    ports:
      - "4000:4000"
    env_file:
      - ./.env
    depends_on:
      mongo:
        condition: service_started
      redis:
        condition: service_started
      ml-service:
        condition: service_started

  worker:
    build:
      context: ..  
      dockerfile: worker/Dockerfile
    container_name: morphin-worker
    env_file:
      - ./worker/.env
    depends_on:
      mongo:
        condition: service_started
      redis:
        condition: service_started
      ml-service:
        condition: service_started

  frontend:
  build:
    context: ../frontend
  container_name: morphin-frontend
  ports:
    - "3000:3000"
  env_file:
    - ../frontend/.env.local
  depends_on:
    - backend   # array format


  mongo:
    image: mongo:6
    container_name: morphin-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7
    container_name: morphin-redis
    ports:
      - "6379:6379"

volumes:
  mongo_data:
