services:
  backend:
    build:
      context: ./backend
    container_name: morphin-backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongo
      - redis

  worker:
    build:
      context: ./worker
    container_name: morphin-worker
    env_file:
      - ./worker/.env
    depends_on:
      - mongo
      - redis

  frontend:
    build:
      context: ./frontend
    container_name: morphin-frontend
    ports:
      - "3000:3000"
    env_file:
      - ./frontend/.env
    depends_on:
      - backend

  mongo:
    image: mongo:6
    container_name: morphin-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7
    container_name: morphin-redis
    ports:
      - "6379:6379"

volumes:
  mongo_data:
