services:
  ml-service:
   build:
    context: ..      # go up from docker/ to root folder
    dockerfile: ml-service/Dockerfile
   container_name: morphin-ml-service
   ports:
    - "8000:8000"


  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile
    container_name: morphin-backend
    working_dir: /app
    ports:
      - "4000:4000"
    env_file:
      - ../backend/.env
    #env_file:
      #- C:/Users/Mallika Verma/OneDrive/Desktop/MorphinGrid-Telemetry-Processor/backend/.env
    depends_on:
      - mongo
      - redis
      - ml-service
    volumes:
    - ../backend:/app
    command: ["npm", "run", "dev"]
  
  worker:
   build:
    context: ../worker
    dockerfile: Dockerfile
   container_name: worker
   working_dir: /app
   volumes:
    - ../worker:/app
   command: ["npm", "run", "dev"]
   restart: always
   depends_on:
    - backend
    - ml-service
    - redis

  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    volumes:
    - ../frontend:/app
    container_name: morphin-frontend
    ports:
    - "3000:3000"
    #container_name: morphin-frontend
    env_file:
      - C:/Users/Mallika Verma/OneDrive/Desktop/MorphinGrid-Telemetry-Processor/frontend/.env.local
    depends_on:
      - backend

  mongo:
    image: mongo:6
    container_name: morphin-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7
    container_name: morphin-redis
    ports:
      - "6379:6379"

volumes:
  mongo_data:
